.centerLeft { background-position-x: left; background-position-y: center;}
.centerRight { background-position-x: right;  background-position-y: center; }
.centerCenter { background-position-x: center;  background-position-y: center; }
.topLeft { background-position-x: left;  background-position-y: top; }
.topRight { background-position-x: right;  background-position-y: top; }

.iconPencil { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Pen.svg'); }
.iconPlus { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Plus.svg'); }
.iconChevronDown {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Chevron-down-24px.svg');}

.iconChevronDown10{background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Chevron-down10.svg');}
.iconChevronRight10 {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Chevron-right10.svg');}
.iconAgreement {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Agreement.svg');}
.iconHelp  { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Help.svg'); }
.iconHouse {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/House.svg');}
.iconSmiley {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Smiley.svg');}
.iconDelete, .iconBin {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Bin.svg');}
.iconRequired {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/images/RequiredStar.svg');}
.iconCalendar { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Calendar.svg');}

.lineDashed {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/images/Stiplet_linje.svg'); height: 2px; width: 172px;}

.iconWarning {background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/warning.svg');}
.img-btn-vipps{background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/images/Vipps_registrer.png');}
.iconClose { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Close.svg');}

.iconVipps { background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/images/vipps-rgb-orange-neg.svg'); background-size: 70px; background-position: 87% center; }

[class*="icon"].btn {
    @apply border-0 bg-transparent;
    /* background-color: transparent; */
}
[class^='icon'], [class*='icon'] { background-repeat: no-repeat !important; }



.size1 { @apply w-6 h-6;}


.img-vert, .flip {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}




.iconSpinner {
    background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Spinner.svg');
}
.iconSpinner2 {
    background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Spinner2.svg');
}

.animate-spin {
    display: none;
}
.spinner .animate-spin {
    display: inline-flex;
}
/*
#onboarding-container input[type="date"]::-webkit-calendar-picker-indicator::after {
    background: url('/images/icons/small/Calendar.svg') no-repeat;
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    background-size: 11%;
    position: absolute;
    transform: translateX(-3%);
}
*/
/*.datepicker-toggle {
    position: relative;
    width: 200px;
}*/

.k-mobile .form-date {
    background-image: url('https://elkompissquarespace.blob.core.windows.net/assets/site/assets/icons/Calendar.svg');
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    padding-left: 20px;
    text-align: left;
}

/*.datepicker-toggle-button {
    position: absolute;*/
/*right: 0;
top: 0;*/
/*width: 100%;
height: 100%;
background-image: url('/images/icons/small/Calendar.svg');
background-repeat: no-repeat;
background-position-x: 90%;
background-position-y: center;
}*/

.k-mobile #onboardingformV2 input[type="date"]::-webkit-inner-spin-button,
.k-mobile #onboardingformV2 input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    opacity: 0;
}
