@layer base {
    .e-hidden {
        display: none;
    }
}

.w-max {
    max-width: 98%;
}

.w-200 {
    min-width: 200px;
    width: 96%;
    max-width: 300px;
}

.w-250 {
    min-width: 250px;
    width: 96%;
    max-width: 350px;
}

.w-600 {
    min-width: 334px;
    width: 96%;
    max-width: 600px;
}
.container {
    max-width: 100%  !important;
}

@media (max-width: 620px) {
    *, div {
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}


.sqs-block-code .sqs-block-content #onboardingformV2 :last-child
.sqs-block-content  :last-child {
    margin-bottom: auto;
  }
  